@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal h1,h2,h3,h4,h5,h6,h7,h8 {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
    letter-spacing: unset;
    text-transform: none;
}
